a{
    text-decoration: none;
    display: block;
    float: left;
    padding: 8px;
}
 
a:hover{
    background-color: green;
}


li{
    display: inline;
}

ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
}

#navBar{
    font-size: 2vw;
    text-align: center;
    flex: center;
    font-weight: normal;
}

#title{
    font-weight: normal;
    margin-top: 7%;
    font-size: 10vw;
    text-align: center;
}

#textUnderTitle{
    font-weight: normal;
    margin-top: 3%;
    font-size: 2vw;
    text-align: center;
}

#footer{
  display: flex;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  min-height: 3vh;
}

@media screen and (max-width: 900px) {
    #title{
        font-size: 15vw;
    }
}

@media screen and (max-width: 400px) {
    #title{
        font-size: 17vw;
    }
}

#siteColorsButton{
   flex: inline-block;
   float: right;
   margin-top: 1vw;
   margin-right: 1vw;
   font-size: 1vw;
   text-decoration: none;
   border: none;
   color: white;
   background-color:green;

}

#siteColorsButton:hover{
    color: black;
    cursor: pointer;
}

.darkMode{
    color:white;
}

.notDarkMode{
    color:black;
}

.notDarkModeBody{
    background-color: white;
    font-size: 1.5vw;
    font-weight: bold;
}

.darkModeBody{
    background-color: black;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
}

.notDarkModeNavBar{
    background-color: purple;
}

.darkModeNavBar{
    background-color: blue;
}

.film{
    padding: 1vw;
  
}

img{
    border: 2px solid red;
    width: 20vw;
    height: 20vw;
}

#content{
    margin-left: 4vw;
    display: flex;
    flex-wrap: wrap;
}